.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-title {
    margin: 130px 0 50px;
    font-size: 32px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-input {
    margin: 7px 0;
    padding: 15px;
    width: 310px;
    font-size: 15px;
  }

  .login-input:focus {
    outline: none;
  }

  input[id='saveEmail'] {
    display: none;
  }

  input[id='saveEmail'] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
  }

  input[id='saveEmail'] + label {
    cursor: pointer;
  }

  .login-checkbox-label {
    position: relative;
    top: 6px;
    left: -144px;

    span {
      position: absolute;
      width: 80px;
      top: 0;
      left: 30px;
    }
  }

  .login-btn {
    margin: 30px 0 0 0;
    padding: 20px 0;
    width: 310px;
    border: 1px solid #b6b6b6;
    background-color: #222;
    font-size: 16px;
    color: white;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
      border: 1px solid #222;
      background-color: rgb(252, 252, 252);
      font-weight: bold;
      color: #222;
    }
  }

  .login-link-join {
    margin: 50px 0;
    padding: 3px 0;
    width: 62px;
    border-bottom: 1px solid #222;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #1ca14c;
      color: #1ca14c;
    }
  }
}
