.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  margin: 130px 0 50px 0;
  font-size: 32px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-email-input,
.login-password-input {
  margin: 7px 0;
  padding: 15px;
  width: 310px;
  font-size: 15px;
}

.login-email-input:focus,
.login-password-input:focus {
  outline: none;
}
input[id='saveEmail'] {
  display: none;
}
input[id='saveEmail'] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
}
input[id='saveEmail'] + label:hover {
  cursor: pointer;
}
input[id='saveEmail']:checked + label {
  background: url('../../asset/images/login_check.png') #222 no-repeat
    center/10px 10px;
}

.login-checkbox-label {
  position: relative;
  top: 6px;
  left: -144px;
}

.login-checkbox-label span {
  position: absolute;
  width: 80px;
  top: 0;
  left: 30px;
}

.login-email:focus,
.login-password:focus {
  outline: none;
}

.login-btn {
  margin: 30px 0 0 0;
  padding: 20px 0;
  width: 310px;
  border: 1px solid #b6b6b6;
  background-color: #222;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.login-btn:hover {
  cursor: pointer;
  border: 1px solid #1ca14c;
  background-color: #1ca14c;
  font-weight: bold;
  color: white;
}

.login-link-join {
  margin: 50px 0;
  padding: 3px 0;
  width: 62px;
  border-bottom: 1px solid #222;
  font-size: 15px;
  font-weight: bold;
}

.login-link-join:hover {
  cursor: pointer;
  border-bottom: 1px solid #1ca14c;
  color: #1ca14c;
}
