.product-product-inner-box {
  position: relative;
  width: 100%;
  height: 440px;
  padding: 15px;
  background-color: #f8f8f8;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  &:hover {
    background: rgba(2, 2, 2, 0.099);
    transition: background 1s ease-out;
  }

  &.product-sold-out {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    &:before {
      content: '픔절인 싱픔 입니다.';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 20px;
      color: #fff;
      z-index: 10;
    }
  }

  .product-link {
    text-decoration: none;
  }

  .thumb {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .product-product-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-product-info {
    text-align: center;

    p {
      padding-top: 20px;

      &:first-child {
        font-size: 27px;
      }

      &:nth-last-child(2) {
        font-size: 23px;
      }

      &:last-child {
        font-size: 20px;
      }
    }
  }
}
