@import '../../styles/variables.scss';
// @font-face {
//   font-family: 'lush';
//   src: url('./font/Lush.woff') format('woff');
// }
.product {
  .product-nav {
    border: 1px solid red;
    height: 100px;
  }

  .product-pic {
    position: relative;
    width: 100%;
    height: 460px;
    margin-bottom: 100px;
    overflow: hidden;
    box-sizing: border-box;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-image-letter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        margin-bottom: 50px;
        text-align: center;
        font-size: 100px;
        line-height: 1.3em;
        font-family: 'lush';
        color: whitesmoke;
      }

      h3 {
        font-size: 70px;
        line-height: 1.3em;
        font-family: 'lush';
        color: whitesmoke;
      }
    }
  }

  .product-menu-tab-wrap {
    @include flexSort(space-between, center);
    width: 1200px;
    margin: 0 auto;

    .products-tabs-cont {
      .tabs {
        display: flex;
        justify-content: flex-start;
        margin: 0 -15px;
        border-bottom: 1px solid rgb(190, 187, 187);
      }
    }

    .product-tog-cont {
      width: 1200px;
      margin: 0 auto;

      .product-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        margin: 30px 0;

        .product-btn {
          width: 200px;
          height: 50px;
          background-color: white;
          border: 1px solid #000;
        }
      }
    }
  }

  .product-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 300px;
    z-index: 1;
    font-size: 30px;

    .product-dropdown-btn {
      height: 50px;
      border: 1px solid black;
      background-color: white;

      &:hover {
        background-color: rgb(242, 238, 238);
      }
    }

    .product-dropdown-btn li {
      font-size: 17px;
    }
  }

  .product-tab-name {
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 30px;
    color: grey;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    &.selected {
      color: #000;

      &:after {
        transform: scaleX(1.7);
      }
    }

    &::after {
      display: block;
      content: '';
      border-bottom: 5px solid #000;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1.2);
    }
  }

  .detail-product-wrap {
    width: 1200px;
    margin: 0 auto;

    .detail-product-middle-box {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;

      .detail-product-outer-cont {
        width: 25%;
        padding: 10px;
      }
    }
  }
}

.product-footer-button {
  @include flexSort(center, center);
  height: 180px;

  button {
    margin-inline: 10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: white;
    color: #4444;

    &:hover {
      color: #000;
    }
  }
}
