@import '../../styles/variables.scss';

.main-banner {
  margin: 200px 0;

  .contain {
    width: 1200px;
    margin: 0 auto;

    .banner-box {
      display: flex;
      align-items: center;
      height: 336px;
      margin-bottom: 20px;

      .banner-img {
        position: relative;
        width: 70%;
        height: 100%;
        overflow: hidden;

        img {
          @include imgSizeCover;
        }
      }

      .banner-txt {
        width: 30%;
        padding: 0 20px;

        h2 {
          margin-bottom: 5px;
          font-size: 30px;
        }

        p {
          font-size: 16px;
          line-height: 2em;
        }
      }
    }
  }
}
