@import '../../styles/variables.scss';

.main-slider-wrap {
  display: flex;
  margin: 0 -5px;

  .main-slider-box {
    margin: 0 5px;

    .main-slicer-thumb {
      position: relative;
      width: 100vw;
      height: 600px;
      overflow: hidden;
      box-sizing: border-box;

      img {
        @include imgSizeCover;
      }
    }
  }
}

.main-pagination {
  @include flexCenter;
  margin-top: 10px;

  .btn {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border: 0;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;

    &.active {
      width: 15px;
      height: 15px;
    }
  }
}
