.cart-product-body {
  .cart-product-content {
    border-bottom: 1px solid rgb(228, 227, 227);
  }

  .product-content-input input {
    margin: 15px 10px 15px 20px;
    cursor: pointer;
  }

  .product-content-detail {
    padding: 20px 80px 20px 20px;
    display: flex;
    align-items: center;
  }
  .content-detail-img {
    width: 100px;
    height: 100px;
  }

  .content-detail-name {
    margin: 0 0 5px 25px;
    font-size: 16px;
  }

  .content-detail-category {
    margin: 0 0 0 25px;
    font-size: 13px;
    color: #757575;
  }

  .product-content-quantity {
    text-align: center;
    padding: 0 60px;

    .quantity-count {
      display: inline-block;
      width: 40px;
      font-size: 17px;
    }

    .quantity-btn {
      width: 12px;
      height: 12px;
      background-size: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .minus-btn {
      background: url('/asset/images/cart_minus.png');

      &:hover {
        background-image: url('/asset/images/cart_minus_hover.png');
      }
    }

    .plus-btn {
      background-image: url('/asset/images/cart_add.png');

      &:hover {
        background-image: url('/asset/images/cart_add_hover.png');
      }
    }
  }

  .product-content-price {
    padding: 0 87px;
    font-size: 17px;
  }

  .product-content-totalPrice {
    padding: 0 20px 0 100px;
    font-size: 17px;
  }
}
