.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cart-title {
    margin: 50px 0;
    text-align: center;
    font-size: 56px;
    letter-spacing: -4px;
  }

  .cart-subTitle {
    padding: 18px 504px;
    display: inline-block;
    background-color: #222;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }

  .cart-product-head {
    border-bottom: 1px solid rgb(228, 227, 227);

    .head-checkbox {
      margin: 15px 10px 15px 20px;
      cursor: pointer;
    }

    .head-text-info {
      display: inline-block;
      padding: 15px 150px;
      font-weight: 400;
      color: #757575;
    }

    .head-text {
      padding: 15px 100px;
      font-weight: 400;
      color: #757575;
    }

    .head-text-total {
      padding: 15px 40px 15px 100px;
      font-weight: 400;
      color: #757575;
    }
  }

  .cart-delete-btn {
    margin: 15px 950px 0 0;
    padding: 10px 20px;
    border: 1px solid #222;
    background-color: rgb(252, 252, 252);
    cursor: pointer;

    &:hover {
      border: 1px solid #1ca14c;
      background-color: #1ca14c;
      color: white;
    }
  }

  .cart-calc {
    margin: 30px 0 40px 0;
    padding: 30px 0;
    width: 1060px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 250, 250);

    .calc-title {
      font-size: 18px;
      color: #757575;
    }

    .title-wrap {
      position: relative;
    }

    .title-shift::before {
      position: absolute;
      left: -75px;
      content: '+';
      font-size: 40px;
    }

    .title-price::before {
      position: absolute;
      left: -75px;
      content: '=';
      font-size: 40px;
    }

    .calc-count {
      margin: 0 0 0 20px;
      font-size: 22px;
      font-weight: bold;
    }
    .calc-sum {
      margin: 0 0 0 20px;
      font-size: 22px;
      font-weight: bold;
      color: #1ca14c;
    }
  }

  .cart-btn {
    margin: 30px 15px 100px 0;
    padding: 20px 0;
    width: 230px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      border: 1px solid #1ca14c;
      background-color: #1ca14c;
      color: white;
    }
  }

  .shop-btn {
    border: 1px solid #222;
    background-color: rgb(252, 252, 252);
  }

  .pay-btn {
    border: 1px solid #222;
    background-color: #222;
    color: white;
  }

  .product-empty {
    padding: 110px 0 70px;
    text-align: center;

    .empty-img {
      width: 60px;
    }

    .empty-text {
      margin: 20px;
      font-size: 18px;
      color: #1ca14c;
    }
  }
}
