// @import url(‘https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap’);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
.bold {
  font-weight: 700;
}
.input {
  padding: 5px 9px;
  font-size: 15px;
  line-height: 23px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.textarea {
  padding: 5px 9px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ddd;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.select {
  height: 35px;
  padding: 5px 9px;
  font-size: 15px;
  color: #686868;
  font-weight: 400;
  line-height: 23px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input[type='file'].input {
  border: 0;
  padding: 0;
}
