.intro-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;

  .intro-title {
    border-bottom: 4px solid #222;
    margin: 0 0 60px 0;
    padding: 15px 0;
    width: 1250px;
    font-size: 40px;
  }

  .intro-team {
    margin: 0 0 150px 0;

    .intro-team-img {
      margin: 0 0 40px 0;
      width: 800px;
      border: 1px solid lightgray;
      border-radius: 30px;
    }

    .team-content-wrap {
      text-align: center;
    }

    .team-deatil {
      // width: 800px;
      font-size: 20px;
    }
  }

  .intro-content-wrap {
    margin: 0 0 80px 0;
    display: flex;
    align-items: center;

    .intro-text-wrap {
      margin: 0 0 0 50px;
      width: 500px;

      .text-wrap-title {
        font-size: 30px;
        margin: 0 0 20px 0;
      }

      .text-wrap-detail {
        width: 500px;
        font-size: 20px;
      }
    }

    .intro-content-img {
      width: 700px;
      height: 600px;
      border: 1px solid lightgray;
      border-radius: 30px;
      object-fit: cover;
    }
  }
}
