.intro-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding-top: 80px;

  .event-video {
    width: 180px;
  }

  strong {
    font-size: 30px;
    margin-left: 40px;
  }
}
