.join-title {
  margin: 90px 0 18px 0;
  text-align: center;
  font-size: 56px;
  line-height: 56px;
}

.join-subTitle {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #757575;
}

.join-content {
  margin: 100px 0 0 0;
  text-align: center;

  .join-content-head {
    margin: 30px auto;
    width: 780px;
    display: flex;
    justify-content: space-between;

    .join-content-title {
      font-size: 32px;
    }

    .join-caution-text {
      padding: 10px 0 0 0;
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
      color: #757575;
    }
  }

  .caution-symbol {
    padding: 0 5px 0 0;
    font-size: 22px;
    color: #c81b1b;
    line-height: 16px;
  }

  .join-form {
    height: 78px;
  }

  .form-label {
    display: inline-block;
    text-align: left;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    color: #757575;
  }

  .form-input-email {
    padding: 0 15px;
    border: 1px solid #757575;
    width: 520px;
    height: 45px;
    font-size: 15px;
  }

  .form-input-long {
    padding: 0 15px;
    border: 1px solid #757575;
    width: 670px;
    height: 45px;
    font-size: 15px;
  }

  .input-focus:focus {
    outline: none;
  }

  .join-valid-text {
    margin: 5px 0 0 0;
    text-align: left;
    color: #c81b1b;
    font-size: 13px;
  }

  .join-form-pw {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .form-password-wrap {
    display: flex;
    flex-direction: column;
  }

  .duplicate-btn {
    margin: 0 0 0 10px;
    padding: 11px 40px 13px 40px;
    border: 1px solid #222;
    font-size: 14px;
    font-weight: bold;
    font-family: ‘Noto Sans KR’;
    background-color: #222;
    color: white;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
      border: 1px solid #222;
      background-color: rgb(252, 252, 252);
      color: #222;
    }
  }

  .join-btn {
    margin: 50px auto;
    display: block;
    padding: 20px 80px;
    border: 1px solid #222;
    background-color: #222;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
      border: 1px solid #222;
      background-color: rgb(252, 252, 252);
      color: #222;
    }
  }
}
