.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-title {
  margin: 50px 0;
  text-align: center;
  font-size: 56px;
  letter-spacing: -4px;
}

.cart-subTitle {
  padding: 18px 504px;
  display: inline-block;
  background-color: #222;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.cart-product-head {
  border-bottom: 1px solid rgb(228, 227, 227);

  .head-checkbox {
    margin: 15px 10px 15px 20px;
    cursor: pointer;
  }

  .head-text-info {
    display: inline-block;
    padding: 15px 150px;
    font-weight: 400;
    color: #757575;
  }

  .head-text {
    padding: 15px 100px;
    font-weight: 400;
    color: #757575;
  }

  .head-text-total {
    padding: 15px 40px 15px 100px;
    font-weight: 400;
    color: #757575;
  }
}

.cart-product-body {
  .cart-product-content {
    border-bottom: 1px solid rgb(228, 227, 227);
  }
  .product-content-input input {
    margin: 15px 10px 15px 20px;
    cursor: pointer;
  }

  .product-content-detail {
    padding: 20px 80px 20px 20px;
    display: flex;
    align-items: center;
  }
  .content-detail-img {
    width: 100px;
    height: 100px;
  }

  .content-detail-name {
    margin: 0 0 5px 25px;
    font-size: 16px;
  }

  .content-detail-category {
    margin: 0 0 0 25px;
    font-size: 13px;
    color: #757575;
  }

  .product-content-quantity {
    text-align: center;
    padding: 0 60px;

    .quantity-count {
      display: inline-block;
      width: 40px;
      font-size: 17px;
    }

    .quantity-minus-btn {
      margin: 0 0 0 0;
      width: 12px;
      height: 12px;
      background: url('/asset/images/cart_minus.png');
      background-size: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        background-image: url('/asset/images/cart_minus_hover.png');
      }
    }

    .quantity-plus-btn {
      margin: 0 0 0 0;
      width: 12px;
      height: 12px;
      background-image: url('/asset/images/cart_add.png');
      background-size: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        background-image: url('/asset/images/cart_add_hover.png');
      }
    }
  }

  .product-content-price {
    padding: 0 87px;
    font-size: 17px;
  }

  .product-content-totalPrice {
    padding: 0 20px 0 100px;
    font-size: 17px;
  }
}

.checkbox-btn-wrap {
  margin: 30px 810px 30px 0;
}
.cart-checkbox-btn {
  margin: 0 15px 0 0;
  padding: 10px 20px;
  border: 1px solid #222;
  background-color: rgb(252, 252, 252);
  cursor: pointer;

  &:hover {
    border: 1px solid #1ca14c;
    background-color: #1ca14c;
    color: white;
  }
}

.cart-calc {
  margin: 30px 0 40px 0;
  padding: 30px 0;
  width: 1060px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 250, 250);

  .calc-title {
    font-size: 18px;
    color: #757575;
  }

  .calc-count {
    margin: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .calc-sum {
    margin: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
    color: #1ca14c;
  }
}

.cart-shop-btn {
  margin: 30px 15px 100px 0;
  padding: 20px 0;
  width: 230px;
  border: 1px solid #222;
  background-color: rgb(252, 252, 252);
  font-size: 16px;
}

.cart-pay-btn {
  margin: 30px 0 100px 0;
  padding: 20px 0;
  width: 230px;
  border: 1px solid #222;
  background-color: #222;
  font-size: 16px;
  color: white;
}

.cart-shop-btn:hover,
.cart-pay-btn:hover {
  cursor: pointer;
  border: 1px solid #1ca14c;
  background-color: #1ca14c;
  color: white;
}
