@import '../../styles/variables.scss';

.review-list-cont {
  border-bottom: 1px solid #ddd;

  li {
    padding: 25px 50px;
    border-top: 1px solid #ddd;

    .review-top {
      @include flexSort(space-between, center);
      margin-bottom: 10px;
    }
  }
}
