@import '../../styles/variables.scss';

.detail-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .detail-wrap {
    display: flex;
    margin: 0 -20px;

    .detail-prd-img {
      width: 50%;
      margin: 0 20px;

      span {
        display: block;
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
        box-sizing: border-box;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .detail-prd-info {
      width: 50%;
      margin: 0 20px;

      .thumb {
        position: relative;
        width: 288px;
        height: 288px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .detail-prd-names {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;

        .prd-tit-name {
          font-size: 32px;
          line-height: 1.3em;
          letter-spacing: -0.6px;
        }

        .prd-cat-name {
          margin-top: 15px;
          font-size: 18px;
        }
      }

      .prd-price-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #bdbdbd;
        border-bottom: 1px solid #bdbdbd;

        .price {
          font-size: 26px;
          line-height: 1.3em;
          margin-right: 40px;
        }

        button {
          width: 24px;
          height: 24px;
          background: transparent;
          border: 0;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .quantity-num {
          width: 42px;
          height: 24px;
          border: 0;
          outline: none;
          text-align: center;
          font-size: 18px;
          padding: 5px;
        }
      }

      .total-price {
        margin: 25px 0;
        @include flexSort(space-between, center);

        .total-title {
          color: #535353;
        }

        p {
          font-size: 26px;
          font-weight: 700;
        }
      }

      .prd-button-box {
        display: flex;

        button {
          height: 70px;
          border: 1px solid #000;

          cursor: pointer;

          &.lick-btn {
            width: 70px;
            margin-right: 8px;
            background: transparent;

            img {
              width: 18px;
              vertical-align: middle;
            }
          }

          &.basket-btn {
            width: calc(100% - 78px);
            font-size: 18px;
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }

  .prd-detail {
    margin-top: 100px;
  }
}
