.search-Modal {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  border-bottom: 1px solid black;

  .search-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    input {
      border-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid black;
      background: rgba(0, 0, 0, 0);
      width: 900px;
      height: 50px;
      margin-right: -50px;
    }
    img {
      width: 40px;
    }

    a {
      color: gray;
      font-size: 45px;
      text-decoration: none;
      margin-top: 10px;
    }

    button {
      color: gray;
      margin: -25px 0 0 40px;
      background: rgba(0, 0, 0, 0);
      border: 1px solid rgba(255, 228, 196, 0);
      width: 45px;
      height: 50px;
      font-size: 50px;
    }
  }

  .search-List {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 258px;
    left: -37px;
    width: 100%;
    height: 40px;

    p {
      border: 1px solid rgb(184, 183, 183);
      border-radius: 5px;
      width: 900px;
      height: 50px;
      padding-top: 14px;
      font-size: 15px;
    }
  }

  .search-Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .search-Modal-Left {
      margin-top: 30px;

      h2 {
        font-size: 30px;
        margin-left: 20px;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 350px;
        margin-right: -50px;

        li {
          margin-top: 20px;
          border: 1px solid rgb(108, 108, 108);
          border-radius: 20px;
          margin-left: 20px;
        }

        a {
          font-size: 20px;
          margin: 10px;
          text-decoration: none;
        }
      }
    }
    .search-Modal-Right {
      width: 150px;
      margin-left: -300px;
      h3 {
        font-size: 30px;
      }
    }
  }
}
